body {
  background: #0D0B08;
  color: #D4C19C;
  padding: 25px;
  font-family: cursive;
  text-align: center;
}

h1 {
    font-family: "La Guapita", cursive;
    color: #C9A227;
}

h2 {
    color: #B89B5E;
}

h4 {
  color: #A98F55;
}

a {
    font-family: "La Guapita", cursive;
    color: #8FAF8F;
}

a:visited {
    color: #8FAF8F;
}

a:hover {
    color: #C9A227;
}

#lotrInk {
    color: #B7A36A;
}

#lotrInk:visited {
    color: #B7A36A;
}

#lotrInk:hover {
    color: #C9A227;
}

hr {
    border: none;
    border-top: 1px solid #A98F55;
}

input[type="range"] {
    accent-color: #C9A227;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #C9A227;
}

option:checked {
    color: #C9A227;
}

input[type="text"],
input[name="username"],
input[name="pw"],
select,
option {
    color: #C9A227;
    background-color: #000000;
}

input[type="number"],
datalist,
textarea {
    color: #C9A227;
    background-color: #000000;
}

input[list],
datalist {
    color: #C9A227;
    background-color: #000000;
}

input[type="submit"] {
    background-color: #C9A227;
    color: #000000;
    cursor: pointer;
    font-family: "La Guapita", cursive;
}

table {
    margin: auto;
    text-align: center;
}

td:first-child {
    padding-right: 20px;
}

nav a {
    margin: 0 10px;
}

 .font {
  font-family: "La Guapita", cursive;
 }

.caption {
    margin: 0;
    padding: 5px;
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #d8c69a;
    color: black;
    opacity: 0.8;
}

}

